<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Project Managing Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/" class="{{#if (eq currentRoute '/') }}active{{/if}}">Inicio</a></li>
        <li><a href="/users" class="{{#if (eq currentRoute '/users') }}active{{/if}}">Usuarios</a></li>
        <li><a href="/projects" class="{{#if (eq currentRoute '/projects') }}active{{/if}}">Proyectos</a></li>
        <li><a href="/tasks" class="{{#if (eq currentRoute '/tasks') }}active{{/if}}">Tareas</a></li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
